.modal {
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.4);

  .modal-content {
    border-radius: 5px;
    background-color: var(--color-white);
    padding: 20px;
    max-width: 738px;
    width: 100%;
     margin: 15% auto;
    position: relative;

    h2 {
      width: fit-content;
    }

    .close-btn {
      float: right;
      height: 25px;
      width: 25px;
    }
  }
}
