:root {
  --color-white: #fff;
  --color-background: #fafafa;
  --color-border: #8F97A8;
  --color-purple: #859EFF;
  --color-light-grey: #778195;
  --color-grey: #566074;
  --color-dark-grey: #414C5E;
}
